.four {
    width: 100%;
    height: 500px;
    background-color: rgb(23, 23, 23);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.containercarta {
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.carta {
    width: 18%;
    height: 100%;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    font-size: 30px;
    border: solid 1px;
    cursor: pointer;
}

.carta:hover {
    transform: rotateY(180deg);
}

.frente {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(assets/cartas.png);
    background-size: cover;
    backface-visibility: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}



.tras {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.tras img {
    height: 100%;
}

.txtdiv {
    height: 30%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#txt {

    color: rgba(150, 150, 150, 0.568);
}






.five {
    width: 100%;
    min-height: 600px;
    background-image: url(assets/fg.jpg);
    background-size: cover;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}



.contfive {
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}


.contfive div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.five input {
    height: 30px;
    width: 140px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: solid 1px white;
}

.five #campo {
    background-color: rgba(0, 0, 0, 0.272);
    border-radius: 10%;
    min-height: 300px;
    margin-top: 3%;
    width: 30%;
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
}

.five button {
    background-color: blue;
    margin-top: 2%;
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 110px;
    cursor: pointer;

}

.six {
    width: 100%;
    height: 500px;
    background-color: black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 0px 50px 5px rgb(47, 47, 47);
}

.six img {
    height: 50%;
}